body {
  font-family: "Roboto", sans-serif;
}
.maincontainer{
    margin:30px 20px 30px 20px;
}
.header {
  display: flex;
  align-items: center;
}
.cityimage {
  margin-right: 30px;
}
.heading {
  padding-left: 25px;
  font-weight: 100;
  font-size: 70px;
  padding-top: 10px;
}
.horizontalline {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  color: gray;
  font-size: 20px;
}
p.news {
  order: 1;
}
p.events {
  order: 1;
}
p.culture {
  order: 1;
}
p.blog {
  order: 1;
}
.container1 {
  display: flex;
  flex-direction: column;
  position: relative;

}
.container4{
    display: none;
}
.dogimage {
  background-image: url("images/dog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40%;
  height: 475px;
}

.imagetext {
  position: absolute;
  bottom: 0.1px;
  background-color: white;
  
  padding-left: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.newsbar {
  padding-top: 20px;
  display: flex;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
}
.topnews {
  padding-left: 20px;
}
.divder {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.newslist div {
  padding-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  display: flex;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.7);
}
.newslist {
  margin-bottom: 50px;
}
.scores-board {
  height: 20rem;
  width: 100%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  border-collapse: collapse;
  margin-bottom: 30px;
}
.bold {
  font: bold;
  font-weight: bold;
}
td:nth-child(2),
td:nth-child(3),
td:nth-child(5) {
  text-align: center;
}
.tablehead {
  color: rgba(0, 0, 0, 0.3);
}
.tablerow {
  margin: 20px;
}
.country {
  font-size: 30px;
}
.weather {
  font-size: 25px;
}
.maintemp {
  display: flex;
}
.temprature {
  margin-top: 50px;
  margin-left: 30px;
  font-size: 40px;
}
.imagetemprature {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}
.imagetemprature img {
  width: 200%;
}
.day,
.temp {
  text-align: right;
}
.maintemp img {
  width: 250px;
  height: 170px;
}
.mon {
  order: 1;
}
.TUES {
  order: 1;
}
.WED {
  order: 1;
}
.THRUS {
  order: 1;
}
.FRI {
  order: 1;
}

.news1 {
  padding-bottom: 20px;
}
.news1 img {
  padding: 10px;
  float: left;
  height: 98px;
}
.latestnewslist {
  margin-top: 30px;
}
.news1 .newsheading {
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}
.news1 .newsdesc {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.contactus {
  padding-left: 35px;
}
.contactus,
.followtwitter,
.rss {
  padding-right: 35px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.5)
}
@media (min-width:600px) and (max-width:800px) {
    .maincontainer{
        margin:0px;
        font-size: 17px;
    }
  .imagetext {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .scores-board tr:nth-child(odd) {
    background-color: #EAEEF0;
  }
  .scores-board th{
      background-color: #748E9B;
  }
  .container3 {
      display: flex;
}
.container1{
    flex: 1.5;
    display: flex;
}
.container1 .dogimage{
    height: 32vh;

}
.container1 .imagetext{
    font-size: 13px;   
    background-color: none; 
}

.container4{flex: 1;
    display: flex;
    flex-direction: column;    
}
.container4 .maintemp img{
    width:70%;
    height:90%;

}
.container4  img{
    width:80%;
}
.container2{
    display: none;
}
.temprature{
    margin-left: 0px;
    font-size: 30px;
}
.heading{
font-size: 50px;    
}
.country{
    font-size: 25px;
}
.weather{
    font-size: 20px;
}
.day,.temp{
    font-size: 12px;
    text-align: center;
}

}
@media (min-width:300px) and (max-width:599px) {
  .maincontainer{
      margin:0px;
  }
    .horizontalline{
        display: none;
    }
    .heading{
        font-size:20px;
        padding: 0px;
    }
    .cityimage{
        width:10%;
        margin-right: 0px;
    }
    .dogimage{
        height: 40vh;
    }
    .navbar{
        display: none;
    }
  
    .imagetext {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 13px;
  }
  .scores-board tr:nth-child(odd) {
    background-color: #EAEEF0;
  }
  .scores-board th{
      background-color: #748E9B;
  }
  div.news1,div.news2,div.news3,div.news4,div.news4,div.news5,div.news6{
      font-size: 13px;
  }
  .imagetemprature img{
      width:100%;
  }
  .divder{
      margin-top:0px;
      margin-bottom: 0px;
  }
  .latestnewslist .newsdesc{
      font-size: 15px;
  }
  .latestnewslist .newsheading{
      font-size: 20px;
  }

}